[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
recipes_recommendation = {editable = true, path = "."}
pandas = "*"
scikit-learn = "*"
seaborn = "*"
flask = "*"
gunicorn = "*"

[scripts]
linter = "pylint recipes_recommendation tests"
unit-test = "pytest tests/unit"
integration-test = "pytest tests/integration"
test = "pytest"

[requires]
python_version = "3.6"
