[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
recipes_recommendation = {editable = true, path = "."}
pytest = "*"
pylint = "*"

[packages]
recipes_recommendation = {path = "."}
pandas = "*"
scikit-learn = "*"

[requires]
python_version = "3.9"
